<h1>Invoice Calculator</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price (incl. VAT)</th>
      <th>Price (excl. VAT)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let line of invoiceLines">
        <td>{{line.product}}</td>
        <td>{{line.priceInclusiveVat}}</td>
        <td>{{line.priceExclusiveVat}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Total</b></td>
        <td>{{invoice.totalPriceInclusiveVat}}</td>
        <td>{{invoice.totalPriceExclusiveVat}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      <td>
        <input [(ngModel)]="product" type="text" />
        <select [(ngModel)]="vatCategoryString" >
          <option>Food</option>
          <option>Drinks</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="priceInclusiveVat" type="number" />
      </td>

      <td>&nbsp;</td>
      <td>
          <button id="add-button" (click)="addInvoice()" [disabled]="!priceInclusiveVat">Add</button></td>
      
    </tr>
  </tbody>
</table>

<ul>
    <li *ngFor="let item of test">
      {{ item }} 
    </li>
  </ul>
  